/************************** Formato general: márgenes, texto, títulos ****************************************/
/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 3;
}

h2 {
  margin-bottom: 1.5rem; /* Ajusta este valor según el espacio que desees */
}

p {
  margin-bottom: 1.5rem; /* Ajusta este valor para mayor o menor espacio entre párrafos */
}

/* Contenido general */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 5rem; /*Márgenes vertical y lateral del contenido dentro del container */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/***************************************** Header **************************************************/
/* Estilo del header con overlay y tipografía */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/suculentasmarron.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none; /* El overlay no bloquea los clics */
}

header p {
  font-size: 1.2rem;
  z-index: 3;
}

/* Logo en el header */
.logo-header {
  position: absolute;
  top: 40px;   /* Ajusta el valor según lo que necesites */
  left: 40px;  /* Ajusta el valor según lo que necesites */
  width: 70px; /* Tamaño del logo, ajusta según sea necesario */
  z-index: 3; /* Coloca el logo sobre el overlay */
}


/***************************************** Barra de navegación **************************************************/
nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  z-index: 3; /* Asegurarse de que el nav esté por encima del overlay */
  position: relative;
}

nav ul li {
  margin: 0 15px;
}

.tab-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  z-index: 3;
  text-decoration: none; /* Eliminar subrayado */
}

.tab-button:hover {
  background-color: white;
  color: #333;
  border: 2px solid #333;
  text-decoration: none; /* Eliminar subrayado al hecer hover */
}

.tab-button.active {
  background-color: #fff;
  color: #333;
  text-decoration: none; /* Eliminar subrayado en el boton activo */
}

/***************************************** Seccion sobre mi **************************************************/
.profile-pic {
  width: 300px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  float: right; /* Alinea la imagen a la derecha del texto */
  margin: -20px 0 1rem 1rem; /* Ajusta el margen para separarla del texto */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.profile-pic:hover {
  transform: scale(1.1);
}

.titulo-sobre-mi {
  margin-top: 50px; /* Ajusta este valor según el espacio superior que necesites */
}

/* Estilo para la sección con fondo e imagen fija. La parte de literatura*/
.literatura {
  position: relative; /* Aseguramos que la sección se posicione para controlar las capas */
  display: flex; /* Activamos flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  background: url('images/nubes2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-style: italic;
  z-index: 2; /* La ponemos por encima del fondo general */
  width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
  margin-left: calc(-50vw + 50%); /* Alinear al borde izquierdo de la pantalla */
  min-height: 400px; /* Ajusta la altura mínima según sea necesario */
}

.literatura .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Si quieres un overlay oscuro sobre la imagen */
  z-index: 3; /* Para asegurarnos que el overlay esté sobre la imagen pero debajo del texto */
}

/* Ajuste del contenedor de texto */
.literatura .contain {
  position: relative; /* El texto debe estar en una capa superior */
  z-index: 4; /* Para asegurarnos de que el texto esté por encima de la imagen y el overlay */
  max-width: 1200px; /* Limita el ancho máximo del texto */
  text-align: center;
  padding: 0 5rem; /* Añade padding horizontal para dar espacio a los lados */
}

/* Estilo del párrafo */
.literatura p {
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
  line-height: 1.8;  /* Mejora la legibilidad */
  position: relative; /* Aseguramos que los párrafos estén en la capa correcta */
  z-index: 4; /* El texto siempre debe estar visible sobre la imagen y el overlay */
}

/* Botoncito de me gusta */
.like-button-container {
  text-align: center; /* Centra el contenido */
  margin-top: 20px; /* Espacio arriba del botón */
}

#like-button {
  background-color: #ffcccc; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex; /* Permite alinear el icono y el texto */
  align-items: center; /* Alinea verticalmente el contenido */
}

.heart-icon {
  width: 30px; /* Tamaño del icono */
  height: 30px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

#like-message {
  color: #28a745; /* Color del mensaje de agradecimiento */
  margin-top: 10px; /* Espacio encima del mensaje */
}

/***************************************** Seccion proyectos **************************************************/
.projects-grid {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 1rem;
  font-size: 1.5rem;
}

.project-card p {
  padding: 0 1rem;
}

.project-card .btn {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #a7a7a7;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-card .btn:hover {
  background-color:  #909090; 
}


/***************************************** Seccion experiencia **************************************************/

/* Timeline horizontal. Imagen centrada */
.image-container {
  text-align: center; /* Centrar el contenido dentro del contenedor */
  margin: 20px 0; /* Espaciado arriba y abajo */
}
.image-container img {
  max-width: 100%; /* Asegura que la imagen no desborde el contenedor */
  height: auto; /* Mantener la relación de aspecto de la imagen */
}

/* Mensaje informativo */
.info-message {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  color: #959595;
}

/* Timeline Vertical*/
.timeline {
  display: flex; /* Los eventos (hijos) controlan el tamaño del contenedor */
  flex-direction: column; /* Para mantener la dirección vertical */
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

/* Línea del timeline */
.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Ajuste para centrar la línea */
}

/* Puntos de la línea de tiempo - Independientes */
.timeline-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dddddd;
  left: 50%; /* Alinea el punto con la línea */
  transform: translateX(-50%);
  z-index: 1; /* Asegura que los puntos estén por encima de la línea */
}

/* Estilos para los puntos, espaciados manualmente */
.timeline-point:nth-child(1) {
  top: 20px; /* Ajustar para la primera posición */
}

/* Eventos del timeline */
.timeline-event {
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem; /* Espacio entre eventos */
  width: 45%; /* Definir un ancho para los eventos */
  transition: transform 0.3s;
}

.timeline-event:hover {
  transform: scale(1.02);
}

/* CSS para desplazar los elementos de la lista a la derecha */
.event-details li {
  margin-left: 20px; /* Ajusta este valor según lo que necesites */
}

/* Encabezado del evento */
.event-header {
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Título del evento */
.event-header h3 {
  margin: 0;
  color: #995fa8;
}

/* Texto del evento */
.event-header p {
  margin-bottom: 10px;
}

/* Detalles del evento */
.event-details {
  display: none; /* Ocultar detalles inicialmente */
  margin-top: 10px;
  color: #666;
  padding: 10px;
  background: #f9f9f9;
  border-left: 4px solid #995fa8;
  border-radius: 4px;
}

/* ***************Características específicas para cada tipo de evento**************** */

/* Alineación para eventos de trabajo a la derecha y educación a la izquierda */
.event-color-trabajo {
  position: absolute; 
  left: 55%; /* Mueve los eventos de trabajo a la derecha */
  top: calc(20px + (var(--event-index) * 120px)); /* Ajusta el cálculo según el índice del evento */
}

.event-color-educacion {
  position: absolute; 
  left: 5%; /* Mueve los eventos de educación a la izquierda */
  top: calc(20px + (var(--event-index) * 120px)); /* Ajusta el cálculo según el índice del evento */
}

/* Color específico para los títulos según sean trabajo o educacion */
.event-color-trabajo .event-header h3 {
  color: #959595; 
}
.event-color-educacion .event-header h3 {
  color: #959595; 
}


/* Borde izquierdo específico según el tipo de evento */
.event-color-trabajo .event-details {
  border-left: 4px solid #4f246a; /* Borde para eventos de trabajo */
}

.event-color-educacion .event-details {
  border-left: 4px solid #931a3d; /* Borde para eventos de educación */
}



/***************************************** Seccion habilidades **************************************************/
/* Nueva sección de Habilidades estilo grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

/* Nueva clase para el encabezado (título) */
.skill-header {
  padding: 1rem;
  color: white;
  border-radius: 15px 15px 0 0;
  margin: 0; /* Asegúrate de que no haya margen lateral */
}

/* Fondo de colores diferentes para cada título */
.skill-card:nth-child(1) .skill-header {
  background-color: #8C234C;
}

.skill-card:nth-child(2) .skill-header {
  background-color: #CB2445;
}

.skill-card:nth-child(3) .skill-header {
  background-color: #E14729;
}

.skill-card:nth-child(4) .skill-header {
  background-color: #B54470;
}

.skill-card:nth-child(5) .skill-header {
  background-color: #D84F6A;
}

.skill-card:nth-child(6) .skill-header {
  background-color: #E9654C;
}

/* Contenido de la tarjeta (iconos y padding general) */
.skill-content {
  padding: 1.5rem; /* Espacio dentro de la tarjeta, pero debajo del título */
}

/* Iconos */
.skill-card img {
  height: 80px;
  width: auto; 
  margin: 10px;
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.5);
}

/* Habilidades lista */
.skills-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skills-list li {
  background-color: #8A2BE2;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
}

/* Idiomas*/

.idiomas-title {
  margin-top: 40px; /* Ajusta el valor según el espacio que desees */
}

.image-container2 {
  text-align: center; /* Centrar el contenido dentro del contenedor */
  margin: 20px 0; /* Espaciado arriba y abajo */
}
.image-container2 img {
  max-width: 60%; /* Asegura que la imagen no desborde el contenedor */
  height: auto; /* Mantener la relación de aspecto de la imagen */
}

/***************************************** Footer **************************************************/
footer {
  display: flex;                   /* Usamos flexbox para el layout */
  align-items: center;            /* Centra verticalmente los elementos */
  justify-content: space-between;  /* Espacia el logo y el texto */
  background-color: #333;         /* Color de fondo */
  color: white;                   /* Color del texto */
  padding: 1rem 40px;            /* Espacio alrededor del contenido */
}

/* Logo en el footer */
.logo-footer {
  width: 50px;                   /* Tamaño del logo */
  margin-right: 10px;            /* Espacio entre el logo y el texto */
  /* Se queda pegado a la izquierda sin usar 'left' o 'top' */
}

/* Estilo del texto del footer */
footer p {
  margin: 0;                     /* Elimina el margen del párrafo */
  flex-grow: 1;                  /* Permite que el texto use el espacio restante */
  text-align: center;            /* Centra el texto horizontalmente */
}
