
/************************** Formato general: márgenes, texto, títulos ****************************************/
html {
    scroll-behavior: smooth;
}

/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  z-index: 3;
}

h2 {
  margin-bottom: 1.5rem; /* Ajusta este valor según el espacio que desees */
}

p {
  margin-bottom: 1.5rem; /* Ajusta este valor para mayor o menor espacio entre párrafos */
  text-align: justify; /* Justifica el texto */
}

/* Contenido general */
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 5rem; /*Márgenes vertical y lateral del contenido dentro del container */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/***************************************** Header **************************************************/
/* Estilo del header con overlay y tipografía */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/suculentasmarron.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none; /* El overlay no bloquea los clics */
}

header p {
  font-size: 1.2rem;
  z-index: 3;
}

/* Logo en el header */
.logo-header {
  position: absolute;
  top: 2.5rem;   /* Ajusta el valor según lo que necesites */
  left: 2.5rem;  /* Ajusta el valor según lo que necesites */
  width: 4.4rem; /* Tamaño del logo, ajusta según sea necesario */
  z-index: 3; /* Coloca el logo sobre el overlay */
}

.flechitas-image {
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    position: absolute; /* Permite posicionar la imagen con respecto al header */
    bottom: 3rem; /* Distancia desde el borde inferior del header */
    max-width: 5rem; /* La imagen no excederá 10 rem de ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 3;
}

/* CSS para la animación de la imagen flechitas */
@keyframes moveFlechitas {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px); /* Ajusta el valor según el movimiento deseado */}
    100% {transform: translateY(0);}
}

.flechitas-moving {
    animation: moveFlechitas 1s ease-in-out infinite; /* Cambia la duración según lo desees */
}

/* Estilos para el conmutador de idioma */
.language-switcher {
    position: fixed;
    top: 2.5rem;   /* Ajusta el valor según lo que necesites */
    right: 2.5rem;  /* Ajusta el valor según lo que necesites */
    font-size: 1.7rem; /* Cambia el tamaño de la fuente */
    margin: 1.2rem; /* Espaciado alrededor del div */
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 3; /* Coloca el logo sobre el overlay */
}

.language-switcher a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: white;
    padding: 0.3rem 0.6rem; /* Espaciado interno alrededor de los enlaces */
}

.language-switcher a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón */
    color: #cccccc; /* Cambia el color al pasar el ratón */
}

/***************************************** Barra de navegación **************************************************/
nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  z-index: 3; /* Asegurarse de que el nav esté por encima del overlay */
  position: relative;
}

nav ul li {
  margin: 0 0.9rem;
}

.tab-button {
  background-color: transparent;
  color: white;
  border: 0.13rem solid white;
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  z-index: 3;
  text-decoration: none; /* Eliminar subrayado */
}

.tab-button:hover {
  background-color: white;
  color: #333;
  border: 0.13rem solid #333;
  text-decoration: none; /* Eliminar subrayado al hecer hover */
}

.tab-button.active {
  background-color: #fff;
  color: #333;
  text-decoration: none; /* Eliminar subrayado en el boton activo */
}

/***************************************** Seccion sobre mi **************************************************/

.profile-pic-container {
  float: right; /* Mantiene el contenedor a la derecha */
  margin: -1rem 0rem 1rem 1rem; /* Ajusta el margen para separarla del texto */
}

.profile-pic {
  width: 18.7rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 0; /* Ajusta el margen para que no se desplace con el texto */
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.profile-pic:hover {
  transform: scale(1.1);
}

.titulo-sobre-mi {
  margin-top: 3.1rem; /* Ajusta este valor según el espacio superior que necesites */
}

/* Estilo para la sección con fondo e imagen fija. La parte de literatura*/
.literatura {
  position: relative; /* Aseguramos que la sección se posicione para controlar las capas */
  display: flex; /* Activamos flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  background: url('images/nubes2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-style: italic;
  z-index: 2; /* La ponemos por encima del fondo general */
  width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
  margin-left: calc(-50vw + 50%); /* Alinear al borde izquierdo de la pantalla */
  min-height: 40vh; /* Ajusta la altura mínima según sea necesario por la pantalla */
}

.literatura .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Si quieres un overlay oscuro sobre la imagen */
  z-index: 3; /* Para asegurarnos que el overlay esté sobre la imagen pero debajo del texto */
}

/* Ajuste del contenedor de texto */
.literatura .contain {
  position: relative; /* El texto debe estar en una capa superior */
  z-index: 4; /* Para asegurarnos de que el texto esté por encima de la imagen y el overlay */
  max-width: 75rem; /* Limita el ancho máximo del texto */
  text-align: center;
  padding: 0 5rem; /* Añade padding horizontal para dar espacio a los lados */
}

/* Estilo del párrafo */
.literatura p {
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
  line-height: 1.8;  /* Mejora la legibilidad */
  position: relative; /* Aseguramos que los párrafos estén en la capa correcta */
  z-index: 4; /* El texto siempre debe estar visible sobre la imagen y el overlay */
}

/* Contenedor principal de la imagen y texto */
.image-text-section {
    position: relative;             /* Para posicionar el texto encima de la imagen */
    width: 100%;                    /* Ocupa el ancho completo del contenedor */
    margin: 1.5rem 0;               /* Espacio arriba y abajo */
    height: 300px;                /* Altura específica que quieres mostrar */
    overflow: hidden;             /* Oculta el exceso de imagen fuera de esta altura */
}

/* Imagen de ancho completo */
.full-width-image {
    width: 100%;                    /* La imagen se ajusta al 100% del contenedor */
    height: 100%;                 /* Se ajusta a la altura del contenedor */
    object-fit: cover;            /* Cubre el contenedor manteniendo su relación de aspecto */
}

/* Cuadro de texto sobre la imagen */
.text-overlay {
    position: absolute;             /* Posiciona el texto encima de la imagen */
    top: 10%;                       /* Centrado vertical */
    right: 10%;                     /* Alineado hacia la derecha con un margen */
    transform: translateY(-50%);    /* Ajusta para un centrado vertical perfecto */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semitransparente */
    padding: 1.2rem 1.5rem;         /* Espaciado interno */
    max-width: 600px;               /* Ancho máximo del cuadro */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); /* Sombra suave */
}

/* Texto dentro del cuadro */
.text-overlay p {
    margin: 0;                      /* Sin margen */
    font-size: 1.1rem;              /* Tamaño de texto ligeramente mayor */
    color: #333;                    /* Color de texto oscuro */
    font-weight: 500;               /* Peso de texto para dar énfasis */
    line-height: 1.5;               /* Mejora la legibilidad */
}

/* Botoncito de me gusta */
.like-button-container {
  text-align: center; /* Centra el contenido */
  margin-top: 1.2rem; /* Espacio arriba del botón */
}

#like-button {
  background-color: #ffcccc; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 0.6rem 1.2rem; /* Espaciado interno */
  border-radius: 0.3rem; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  display: flex; /* Permite alinear el icono y el texto */
  align-items: center; /* Alinea verticalmente el contenido */
  color: #333333; /* Color de texto en gris oscuro */
}

/* Efecto hover */
.like-button-container button:hover {
  background-color: #ffcccc; /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.05);    /* Aumenta ligeramente el tamaño del botón */
  border-color: #ff6666;     /* Cambia el color del borde */
}

.heart-icon {
  width: 1.9rem; /* Tamaño del icono */
  height: 1.9rem; /* Tamaño del icono */
  margin-right: 0.3rem; /* Espacio entre el icono y el texto */
}

/***************************************** Seccion proyectos **************************************************/
.projects-grid {
  display: flex;
  gap: 2rem;
  margin-top: 5vh;
}

.project-card {
  background: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-0.6rem);
}

.project-card img {
  width: 100%;
  max-width: 100%;
  height: 12.5rem;
  object-fit: cover;
}

.project-card h3 {
  padding: 1rem;
  font-size: 1.5rem;
}

.project-card p {
  padding: 0 1rem;
}

.project-card .btn {
  display: block;
  text-align: center;
  padding: 0.6rem;
  background-color: #a7a7a7;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-card .btn:hover {
  background-color:  #6a6a6a; 
}

/***************************************** Seccion experiencia **************************************************/

/* Timeline horizontal. Imagen centrada */
.image-container {
  text-align: center; /* Centrar el contenido dentro del contenedor */
  margin: 1.2rem 0; /* Espaciado arriba y abajo */
}
.image-container img {
  max-width: 100%; /* Asegura que la imagen no desborde el contenedor */
  height: auto; /* Mantener la relación de aspecto de la imagen */
}

/* Mensaje informativo */
.info-message {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  color: #959595;
}

/* Timeline Vertical*/
.timeline {
  position: relative;
  margin-top: 2rem;
}

/* Línea del timeline */
.timeline::before {
  content: '';
  position: absolute;
  width: 0.25rem;
  background-color: #dddddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.13rem; /* Ajuste para centrar la línea */
}

/* Puntos de la línea de tiempo - Independientes */
.timeline-point {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: #dddddd;
  left: 50%; /* Alinea el punto con la línea */
  transform: translateX(-50%);
  z-index: 1; /* Asegura que los puntos estén por encima de la línea */
}

/* Estilos para los puntos, espaciados manualmente */
.timeline-point:nth-child(1) {
  top: 1.2rem; /* Ajustar para la primera posición */
}

/* Eventos del timeline */
.timeline-event {
  position: relative;
  padding: 1rem 2rem 0.5rem 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem; /* Separación entre cajitas */
  width: 47%; /* Definir un ancho para los eventos */
  transition: transform 0.3s;
}

.timeline-event:hover {
  transform: scale(1.02);
}

/* CSS para desplazar los elementos de la lista a la derecha */
.event-details li {
  margin-left: 1.2rem; /* Ajusta este valor según lo que necesites */
}

/* Encabezado del evento */
.event-header {
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Título del evento */
.event-header h3 {
  margin: 0;
  color: #995fa8;
}

/* Texto del evento */
.event-header p {
  margin-bottom: 0.6rem;
}

/* Detalles del evento */
.event-details {
  display: none; /* Ocultar detalles inicialmente */
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  color: #666;
  padding: 0.6rem;
  background: #f9f9f9;
  border-left: 0.25rem solid #995fa8;
  border-radius: 0.25rem;
}

/* ***************Características específicas para cada tipo de evento**************** */

/* Alineación para eventos de trabajo a la derecha y educación a la izquierda */
.event-color-trabajo {
  position: relative; 
  left: 53%; /* Mueve los eventos de trabajo a la derecha */
}

/* Color específico para los títulos según sean trabajo o educacion */
.event-color-trabajo .event-header h3 {
  color: #B394E0; 
}
.event-color-educacion .event-header h3 {
  color: #FF9429; 
}

/* Borde izquierdo específico según el tipo de evento */
.event-color-trabajo .event-details {
  border-left: 0.25rem solid #B394E0; /* Borde para eventos de trabajo */
}

.event-color-educacion .event-details {
  border-left: 0.25rem solid #FF9429; /* Borde para eventos de educación */
}


/***************************************** Seccion habilidades **************************************************/
/* Nueva sección de Habilidades estilo grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  max-width: 100%;
}

.skill-card {
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-0.6rem);
}

/* Nueva clase para el encabezado (título) */
.skill-header {
  padding: 1rem;
  color: white;
  border-radius: 0.9rem 0.9rem 0 0;
  margin: 0; /* Asegúrate de que no haya margen lateral */
}

/* Fondo de colores diferentes para cada título */
.skill-card:nth-child(1) .skill-header {
  background-color: #8C234C;
}

.skill-card:nth-child(2) .skill-header {
  background-color: #CB2445;
}

.skill-card:nth-child(3) .skill-header {
  background-color: #E14729;
}

.skill-card:nth-child(4) .skill-header {
  background-color: #B54470;
}

.skill-card:nth-child(5) .skill-header {
  background-color: #D84F6A;
}

.skill-card:nth-child(6) .skill-header {
  background-color: #E9654C;
}

/* Contenido de la tarjeta (iconos y padding general) */
.skill-content {
  padding: 1.5rem; /* Espacio dentro de la tarjeta, pero debajo del título */
}

/* Iconos */
.skill-card img {
  height: 5rem;
  width: auto; 
  margin: 0.6rem;
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.5);
}

/* Habilidades lista */
.skills-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skills-list li {
  background-color: #8A2BE2;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
}

/* Idiomas*/

.idiomas-title {
  margin-top: 2.5rem; /* Ajusta el valor según el espacio que desees */
}

.image-container2 {
  text-align: center; /* Centrar el contenido dentro del contenedor */
  margin: 1.2rem 0; /* Espaciado arriba y abajo */
}
.image-container2 img {
  max-width: 60%; /* Asegura que la imagen no desborde el contenedor */
  height: auto; /* Mantener la relación de aspecto de la imagen */
}

/***************************************** Footer **************************************************/
footer {
  display: flex;                   /* Usamos flexbox para el layout */
  align-items: center;            /* Centra verticalmente los elementos */
  justify-content: space-between;  /* Espacia el logo y el texto */
  background-color: #333;         /* Color de fondo */
  color: white;                   /* Color del texto */
  padding: 1rem 2.5rem;            /* Espacio alrededor del contenido */
}

/* Logo en el footer */
.logo-footer {
  width: 3.1rem;                   /* Tamaño del logo */
  margin-right: 0.6rem;            /* Espacio entre el logo y el texto */
  /* Se queda pegado a la izquierda sin usar 'left' o 'top' */
}

/* Estilo del texto del footer */
footer p {
  margin: 0;                     /* Elimina el margen del párrafo */
  flex-grow: 1;                  /* Permite que el texto use el espacio restante */
  text-align: center;            /* Centra el texto horizontalmente */
}

/* Iconos del footer */
.footer-icon {
  width: 1.2rem;                    /* Tamaño de los iconos */
  vertical-align: middle;           /* Alineación vertical del icono con el texto */
  margin-right: 0.7rem;             /* Espacio entre el icono y el texto */
}

/* Estilos para los enlaces del footer */
footer a {
  text-decoration: none;            /* Elimina el subrayado */
  color: white;                     /* Mantiene el color blanco */
}

footer a:hover {
  text-decoration: underline;       /* Subraya solo al pasar el ratón */
}

/* ************************************** Diseño responsivo ****************************************************** */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem 2.5rem;  /* Reducir el padding lateral en móviles */
    max-width: none; /* Elimina el ancho máximo */
    margin: 0rem; /* Elimina márgenes laterales si es necesario */
  }
    header {
    background-position: top; /* Muestra más la parte superior de la imagen en móviles */
    background-size: cover;   /* Asegúrate de que la imagen siempre cubra toda la pantalla */
    height: 100vh;             /* Reduce la altura del header en móviles */
  }

  .logo-header {
    top: 1.2rem;    /* Baja el logo para que quede más centrado */
    left: 1.2rem;   /* Ajusta la posición lateral también */
    width: 15vw;  /* Reduce el tamaño del logo en móviles */
  }

  .language-switcher {
    top: 1.2rem;   /* Ajusta el valor según lo que necesites */
    right: 1.2rem;  /* Ajusta el valor según lo que necesites */
    font-size: 1.5rem; /* Cambia el tamaño de la fuente */
    margin: 1rem; /* Espaciado alrededor del div */
}

  h1 {
    font-size: 7.5rem /* Reduce el tamaño del título en móviles */
    letter-spacing: 0rem; /* Reduce el espaciado de letras en móviles */
    line-height: 1; /* Reduce el interlineado en móviles */
  }
  
  h2 {
    font-size: 1.5rem;  /* Ajustar el h2 */
  }

  h3 {
    font-size: 1rem; 
  }

  p {
    font-size: 1rem;    /* Aumentar ligeramente el tamaño del párrafo para mejorar la legibilidad */
    line-height: 1.7;   /* Aumentar el espaciado entre líneas para mayor claridad */
  }

  header p {
    font-size: 1rem;   /* Ajusta el tamaño de la descripción en móviles */
  }

  nav ul {
    flex-direction: column;   /* Cambiar a layout vertical en pantallas pequeñas */
    align-items: center;      /* Alinear los ítems en el centro */
    padding: 0;               /* Eliminar el padding innecesario */
  }

  nav ul li {
    margin: 0.1rem 0.3rem;           /* Añadir más espacio entre los elementos del menú */
    display: block;          /* Asegúrate de que sea un bloque */
    padding: 0.9rem;            /* Añadir un padding para evitar colapso */
    border: 0.06rem solid transparent; /* Borde transparente */
  }

  .tab-button {
    padding: 0.5rem 1rem;        /* Reducir un poco el tamaño de los botones de navegación en móviles */
  }

  .profile-pic-container {
    float: none; /* Elimina el float para centrar en móvil */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin: 2rem auto; /* Aplica margen arriba y abajo para separación */
  }

  .profile-pic {
    width: 100%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    max-width: 18.7rem; /* Limita el ancho máximo para no sobrepasar el tamaño de escritorio */
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
  }

/* Seccion literatura */
    .literatura .contain {
    max-width: none; /* Quita el límite de ancho en móviles */
    padding: 0 2rem; /* Reduce un poco el padding para mejorar el ajuste en pantallas pequeñas */
  }

  .literatura p {
    font-size: 1rem; /* Reduce el tamaño de fuente para móviles */
    line-height: 1.6; /* Ajusta el interlineado para mejor legibilidad en pantalla pequeña */
  }
  
  .projects-grid {
    flex-direction: column; /* Cambia la dirección a vertical en pantallas pequeñas */
    gap: 1rem;              /* Reduce el espacio entre proyectos en móviles */
    display: block;         /* Cambia el layout a un bloque vertical en pantallas pequeñas */
  }

  .project-card {
    width: 100%;            /* Asegura que los cards ocupen todo el ancho disponible */
    max-width: 90vw; /* Limita el tamaño máximo en pantallas grandes */
    margin-bottom: 2rem;    /* Añade espacio entre cada tarjeta para que no se amontonen */
  }

  .project-card img {
    height: auto;           /* Ajusta la altura de las imágenes para que se adapten mejor */
  }

/* Timeline Vertical*/

.timeline::before {
  width: 0.13rem;
  left: 0%;
}
  
.timeline-point {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  left: -0.3%; /* Alinea el punto con la línea */
}

.timeline-event {
  width: 100%; /* Definir un ancho para los eventos */
  left: 5%;    /* Centra los eventos horizontalmente */
}

.event-color-trabajo {
  left: 5%; /* Mueve los eventos de trabajo a la derecha */
}

  .skills-grid {
    grid-template-columns: 1fr;  /* Cambia a una columna en pantallas pequeñas */
    gap: 1rem;                   /* Reduce el espacio entre tarjetas para que se vea más compacto */
    max-width: 100%;
  }

.image-container2 img {
  max-width: 100%; /* Imagen idiomas */
}
  
  footer {
    flex-direction: column;  /* Cambiar a layout vertical */
    align-items: center;     /* Alinear los elementos en el centro */
    text-align: center;      /* Centrar el texto */
  }

  footer p {
    margin: 0.6rem 0;          /* Añadir espacio entre el logo y el texto */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);  /* Cambia a dos columnas en pantallas medianas */
    max-width: 100%;
  }
}


