/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Estilo del header con overlay y tipografía */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/header-background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none; /* El overlay no bloquea los clics */
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 3;
}

h2 {
  margin-bottom: 1.5rem; /* Ajusta este valor según el espacio que desees */
}

p {
  margin-bottom: 1.5rem; /* Ajusta este valor para mayor o menor espacio entre párrafos */
}

header p {
  font-size: 1.2rem;
  z-index: 3;
}

/* Barra de navegación */
nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  z-index: 3; /* Asegurarse de que el nav esté por encima del overlay */
  position: relative;
}

nav ul li {
  margin: 0 15px;
}

.tab-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  z-index: 3;
  text-decoration: none; /* Eliminar subrayado */
}

.tab-button:hover {
  background-color: white;
  color: #333;
  border: 2px solid #333;
  text-decoration: none; /* Eliminar subrayado al hecer hover */
}

.tab-button.active {
  background-color: #fff;
  color: #333;
  text-decoration: none; /* Eliminar subrayado en el boton activo */
}

/* Contenido general */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 5rem; /*Márgenes vertical y lateral del contenido dentro del container */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  float: right; /* Alinea la imagen a la derecha del texto */
  margin: 0 0 1rem 1rem; /* Ajusta el margen para separarla del texto */
}

.profile-pic:hover {
  transform: scale(1.1);
}

/* Estilo para la sección con fondo e imagen fija. La parte de literatura*/
.literatura {
  position: relative; /* Aseguramos que la sección se posicione para controlar las capas */
  background: url('images/girasolesotoño.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
  font-style: italic;
  z-index: 2; /* La ponemos por encima del fondo general */
  width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
  min-height: 300px; /* Ajusta la altura mínima según sea necesario */
  margin: 0; /* Elimina cualquier margen que afecte el layout */
  padding: 5rem 0; /* Espaciado arriba y abajo */
}

.literatura .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Si quieres un overlay oscuro sobre la imagen */
  z-index: 3; /* Para asegurarnos que el overlay esté sobre la imagen pero debajo del texto */
}


/* Ajuste del contenedor de texto */
.literatura .contain {
  position: relative; /* El texto debe estar en una capa superior */
  z-index: 4; /* Para asegurarnos de que el texto esté por encima de la imagen y el overlay */
  max-width: 800px; /* Limita el ancho máximo del texto */
  margin: 0 auto; /* Centra el contenido */
  padding: 5rem 0; /* Añadir padding solo arriba y abajo para dejar margen vertical */
}

/* Estilo del párrafo */
.literatura p {
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
  line-height: 1.8;  /* Mejora la legibilidad */
  position: relative; /* Aseguramos que los párrafos estén en la capa correcta */
  z-index: 4; /* El texto siempre debe estar visible sobre la imagen y el overlay */
}

/* Sección Proyectos */
.projects-grid {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 1rem;
  font-size: 1.5rem;
}

.project-card p {
  padding: 0 1rem;
}

.project-card .btn {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #8A2BE2;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-card .btn:hover {
  background-color: #6a1cb2;
}

/* Timeline */
.timeline {
  position: relative;
  margin-top: 2rem;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #8A2BE2;
  top: 0;
  bottom: 0;
  left: 50px;
  margin-left: -2px;
}

.timeline-event {
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.timeline-event h3 {
  margin-bottom: 10px;
}

.timeline-event p {
  margin-bottom: 0;
}

.timeline-event::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8A2BE2;
  top: 20px;
  left: 50px;
  transform: translateX(-50%);
}

/* Nueva sección de Habilidades estilo grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

/* Fondo de colores diferentes para cada tarjeta */
.skill-card:nth-child(1) {
  background-color: #8A2BE2;
}

.skill-card:nth-child(2) {
  background-color: #FF6347;
}

.skill-card:nth-child(3) {
  background-color: #20B2AA;
}

.skill-card:nth-child(4) {
  background-color: #FF4500;
}

.skill-card:nth-child(5) {
  background-color: #4682B4;
}

.skill-card:nth-child(6) {
  background-color: #32CD32;
}

.skill-card h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skill-card img {
  width: 60px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.1);
}

/* Habilidades lista */
.skills-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skills-list li {
  background-color: #8A2BE2;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
